ul {
	list-style-type: none;
	li {
		border-bottom: 1px solid #ccc;
		padding-bottom: 2px;
		a {
			text-decoration: none;
			color: white;
			display: block;
		}
	}
	li:hover {
		box-shadow: 0 0 20px #ffffffbc;
	}
}
